{% extends 'base.html' %}

{% block title %}Acerca de mi{% endblock %}

{% block contenido %}
    <h1>Acerca de mí</h1>
    <h3> ¿Quién soy? </h3>
    <p>
        Mi nombre es Tomas, tengo 18 años, soy de Remedios de Escalada y estoy estudiando la carrera de Técnico en Programación en la UTN. 
        Desde que terminé mis estudios secundarios me estoy interiorizando en el mundo del desarrollo y descubrí que es lo que me gusta y hacia donde quiero apuntar mi carrera profesional!
        Hice algunos cursos de HTML, CCS, JavaScript, Git y GitHub, Python, Django, SQL, etc. Y tengo un nivel intermedio de inglés y continúo estudiando el idioma en un instituto.
    </p>
    <h3> Me interesa: </h3>
    <p>
        Aprender mas lenguajes de programacion, y mas en lo que este relacionado a eso, para luego implentarlos en un area de trabajo. Ademas, estoy buscando dar mis primeros pasos el mundo laboral y adquirir mi primer experiencia idealmente en algún puesto trainee o junior en el sector IT.
    </p>

{% endblock contenido%}
