<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Mi Blog{% endblock %}</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Inicio</a></li>
            <li><a href="{% url 'about' %}">Acerca de mi</a></li>
            <li><a href="{% url 'article_list' %}">Artículos</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'profile' %}">Perfil</a></li>
                <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Iniciar sesión</a></li>
                <li><a href="{% url 'signup' %}">Registrarse</a></li>
            {% endif %}
        </ul>
    </nav>
    <div>
        {% block content %}{% endblock %}
    </div>
</body>
</html>
